# =========================
# Byte-compiled / optimized
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/
env/

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/
*.egg

# =========================
# Logs
# =========================
*.log

# =========================
# Unit test / coverage
# =========================
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================
.env

# =========================
# Misc
# =========================
*.sqlite3